[submodule "submodules/SubaruDefs"]
	path = submodules/SubaruDefs
	url = https://github.com/Shamtam/SubaruDefs.git
	branch = Alpha
[submodule "submodules/Python-J2534-Interface"]
	path = submodules/Python-J2534-Interface
	url = https://github.com/Shamtam/Python-J2534-Interface.git
	branch = master
