[submodule "submodules/SubaruDefs"]
	path = submodules/SubaruDefs
	url = https://github.com/Shamtam/SubaruDefs.git
	branch = Alpha
[submodule "submodules/PyJ2534"]
	path = submodules/PyJ2534
	url = https://github.com/Shamtam/PyJ2534.git
